.content{
    margin-top: 60px;
    background-color: #21618C;
    color: white;
    padding: 20px;
    width: 100%;
}

#display {
    width: 100%;
}

#slider {
    width: 100%;
    padding: 5px;
}

#length {
    display: inline-block;
    width: 100px;
}

.center {
    display: flex;
    justify-content: space-between;
}

#generate, #copy, h3, #display, .main-checkbox {
    padding: 20px;
}

#auth-image {
    border-radius: 50%;
}