

.content{
    margin-top: 60px;
    background-color: #21618C;
    color: white;
    padding: 20px;
    width: 100%;
}

#display {
    width: 100%;
}

#slider {
    width: 100%;
    padding: 5px;
}

#length {
    display: inline-block;
    width: 100px;
    margin-left: 30%;
    margin-right: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
#length {
    display: flex;
    margin-left: 30%;
    margin-right: 70%;
}
*/


h3, #display, .main-checkbox, #generate, #copy {
    padding: 20px;
}

#auth-image {
    border-radius: 50%;
}



/*
@media screen and (min-width: 400px) {
    #generate, #copy, #length {
        
        display: flex;
        justify-content: center;
        font-size: small;
    }
}
*/